{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-6">
        <h1>List Inventory</h1>
    </div>
    <div class="col-lg-6">
        <div class="input-group mt-3">
            <input type="text" id="searchInput" class="form-control" placeholder="Search...">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Search</button>
            </div>
        </div>
    </div>
</div>

<table class="table mt-4">
    <thead class="thead-dark">
        <tr>
            <th>Marka</th>
            <th>Model</th>
            <th>Ağırlık</th>
            <th>Kategori</th>
            <th>Durum</th>
            <th>Tarih</th>
        </tr>
    </thead>
    <tbody>
        {% for uav in uavs %}
        <tr>
            <td>{{ uav.brand }}</td>
            <td>{{ uav.model }}</td>
            <td>{{ uav.weight }}</td>
            <td>{{ uav.category }}</td>
            <td>{{ uav.status }}</td>
            <td>{{ uav.date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    // Get the input field and table
    var input = document.getElementById("searchInput");
    var table = document.querySelector(".table");

    // Add an event listener to the input field
    input.addEventListener("keyup", function() {
        var filter = input.value.toUpperCase();
        var rows = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those that don't match the search query
        for (var i = 1; i < rows.length; i++) { // Start from index 1 to skip the header row
            var row = rows[i].getElementsByTagName("td");
            var found = false;
            for (var j = 0; j < row.length; j++) {
                var cell = row[j];
                if (cell) {
                    var txtValue = cell.textContent || cell.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        found = true;
                        break;
                    }
                }
            }
            if (found) {
                rows[i].style.display = "";
            } else {
                rows[i].style.display = "none";
            }
        }
    });
</script>
{% endblock %}
